<section class="container">
    <div class="nav">
        <div class="first">
            <div class="menu">
                <img src="../../../assets/images/menu.svg" width="25px"/>
            </div>
            <img src="../../../assets/images/keep_2020q4_48dp.png" width="45px"/>
            <span class="name">Keep</span>
        </div>
        <div class="second">
            <div class="form-container">
                <form #form23zSaZ class="form">
                    <div class="input-container">
                        <input class="input" autocomplete="off" placeholder="Busca lo que quieras" value="" type="text">
                    </div>
                    <button class="btn" aria-label="Clear search" type="button">
                        <img class="pic H d-none" src="../../../assets/images/x-btn.svg" alt="x-btn">
                    </button>
                    <button class="btn left" aria-label="Clear search" type="button">
                        <img class="pic H" src="../../../assets/images/search.svg" alt="search">
                    </button>
                </form>
            </div>
            <div class="btns-container">
                <div class="search"></div>
                <div class="refresh H pop" data-pop="Refresh" ></div>
                <div class="view H pop" data-pop="List view"></div>
                <div class="settings H pop disabled" data-pop="Settings"></div>
            </div>
        </div>
        <div class="third">
            <div class="apps H disabled pop" data-pop="Google Apps"></div>
            <div class="user-pic-container">
                <img class="user-pic" src="../../../assets/images/unnamed.png"
                    srcset="../../../assets/images/unnamed.png 1x, ../../../assets/images/unnamed.png 2x " alt="user-pic">
            </div>
        </div>
    </div>
</section>